/* --------- CONTENIDO INDEX ------- */

.contenidoIndex{
    display: flex;
    align-items: center;
}

.imagenIndex{
    grid-area: imagen;
    width: 50%;
}

.remerasIndex{
    width: 100%;
    grid-area: imagen;
}

.titulosIndex{
    width: 50%;
    @include flex;
    h1{
        background-color: $colorFondo;
        font-size: 55px;
        font-weight: 700;
        padding-right: 10%;
        align-self: flex-start;
    }
    h3{
        margin-top: 1%;
        font-size: 40px;
        justify-content: center;
        align-self: flex-start;
    }
    button{
        align-items: center;
        background-color: $fondoSecundario;
        text-decoration: none;
        padding: 15px 50px;
        margin-left: 50px;
        margin-top: 3%;
        border-radius: 30px;   
    }
}

.contenedorBotones{
    display: map-get($contBotones, display);
    align-items: map-get($contBotones, alignall);
    align-self: map-get($contBotones, align);
    justify-content: map-get($contBotones, justify);
}

.boton{
    color: $colorFuente;
    text-decoration: none;
    font-size: 20px; 
    &:hover{
        opacity: .8;
        color: $colorFondo;
    }
}
