@media screen and (max-width:1040px){
    .container-fluid{
        padding: 0%;
    }

    .nav{
        width: 60%;
    }

    .titulosIndex{
        h1{
        background-color: #815AA8;
        font-family: 'Archivo', sans-serif;
        font-weight: 600;
        font-size: 40px;
        align-self: flex-end;
        }
        h3{
            margin-top: 1%;
            font-size: 30px;
        }
        button{
            align-items: center;
            background-color: #333333;
            text-decoration: none;
            padding: 10px 30px;
            margin-left: 30px;
            margin-right: 40px;
            margin-top: 3%;
            border-radius: 30px;
        }
    }

    .contenedorBotones{
        display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    }

    .boton{
        font-size: 14px;
    } 
    .botonA{
        padding: 15px 23px;
    }

    .footer{
        display: flex;
        justify-content: space-evenly;
        padding: 40px;
        p{
            font-size: 15px;
        }
        img{
            width: 100%;
        }
        a{
            width: 2%;
        }
    }
}

@media screen and (max-width:769px){
    .contenedorLogo{
        margin-left: 285px;
        width: 40%;
    }
    
    .logo{
        width: 45%;
        margin: 20px;
    }

    .nav{
        margin-left: 140px;
        width: 60%;
        
    }
    
    .header{
        li{
            ul{
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
            padding: 0%;
            grid-area: nav;
            }
            a{
                text-decoration: none;
                padding: 0 10px;
                color: $colorFuente;
                font-size: 20px;
            }  
        }
    }

    .contenidoIndex{
        display: flex;
        flex-direction: column;
    }
    
    .imagenIndex{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0%;
    }
    
    .remerasIndex{
        width: 100%;
        padding: 0% 30px 0% 0%;
    }
    
    .titulosIndex{
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        h1{
            background-color: $colorFondo;
            font-family: 'Archivo', sans-serif;
            font-weight: 600;
            font-size: 50px;
            padding-right: 15%;
            align-self: flex-end;
        }
        h3{
            margin-top: 1%;
            padding-left:200px;
            font-size: 40px;
            justify-content: center;
            align-self: center;
        }
    }

    .contenedorBotones{
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: space-around;
        margin-bottom: 100px;
        margin-top: 50px;
    }
    
    
    .boton{
        font-size: 15px;
    }
    
    .botonA{
        padding: 15px 23px;
    }
    
    .footer{
        justify-content: space-evenly;
        padding: 40px;
        p{
            font-size: 15px;
        }
        img{
            width: 100%;
        }
        a{
            width: 6%;
        }
    }
}

@media screen and (max-width:575px){
    .contenedorLogo{
        margin-left: 40%;
        width: 40%;
    }
    
    .logo{
        width: 50%;
        margin: 20px;
    }
    
    .nav{
        margin-left: 17%;
        width: 60%;
        ul{
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            padding: 0%;
            grid-area: nav;
        }
        a{
            text-decoration: none;
            color: whitesmoke;
            font-size: 14px;
            align-self: stretch;
        }
    }

    .contenidoIndex{
        display: flex;
        flex-direction: column;
        grid-area: contenido; 
    }
    
    .imagenIndex{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: imagen;
        width: 100%;
    }
    
    .remerasIndex{
        width: 100%;
        padding-right: 0%;
    }
    
    
    .titulosIndex{
        h1{
        width: auto;
        font-size: 25px;
        align-self: flex-end;
        justify-self: left;
        padding-right: 30%;
        }
        h3{
            margin-top: 1%;
            font-size: 20px;
            padding-left: 35%;
            justify-content: center;
            align-self: center;
        }
        button{
            align-items: center;
            background-color: #333333;
            text-decoration: none;
            padding: 5px 25px;
            margin-left: 40px;
            margin-top: 3%;
            border-radius: 20px;
        }
    }

    .contenedorBotones{
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: space-around;
        margin-bottom: 100px;
        margin-top: 50px;
    }

    .boton{
        font-size: 10px;
    }
    
    .footer{
        justify-content: space-evenly;
        padding: 30px;
        margin: 0%;
        p{
            font-size: 12px;
            padding-top: 10px;
        }
        img{
            width: 80%;
        }
        a{
            width: 6%;
        }
    }

}


@media screen and (max-width: 425px){
    .contenedorLogo{
        margin: 0% 0% 1px 40%;
        width: 40%;
        
    }
    
    .logo{
        width: 60%;
        margin: 20px 0% 0% 0%;
    }
    
    .nav{
        margin-top: 0%;
        margin-left: 15%;
        width: 60%;
        li{
            ul{
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            padding: 0%;
            margin: 10% 0% 0% 0%;
            grid-area: nav;
            }
            a{
                text-decoration: none;
                color: $colorFuente;
                font-size: 14px;
                align-self: stretch;
            }
        }
    }
    
    .contenidoIndex{
        display: flex;
        flex-direction: column;
    }
    
    .imagenIndex{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .remerasIndex{
        width: 100%;
    }
    
    
    .titulosIndex{
        h1{
        width: auto;
        font-size: 25px;
        align-self: center;
        justify-self: left;
        padding-right: 10%;
        margin-left: 20%;
        }
        h3{
            margin-top: 1%;
            font-size: 20px;
            padding-right: 0%;
            margin-right: 18%;
            justify-self: center;
            align-self: center;
            width: 90%;
        }
        button{
        align-items: center;
        background-color: $fondoSecundario;
        text-decoration: none;
        padding: 5px 30px;
        margin-left: 40px;
        margin-top: 3%;
        border-radius: 20px;
        margin-right: 10px;
        }
    }
    
    .contenedorBotones{
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: space-between;
        margin-top: 50px;
        margin-right: 40px;
    }

    .boton{
        font-size: 10px;
    }
    
    .footer{
        justify-content: space-evenly;
        padding: 30px;
        p{
            font-size: 10px;
        }
        img{
            width: 100%;
        }
        a{
            width: 6%;
        }
    }
}

@media screen and (max-width: 375px){
    .contenedorLogo{
        margin: 0% 0% 1px 35%;
        width: 40%;
        
    }
    
    .logo{
        width: 80%;
        padding-left: 0%;
        margin: 20px 0% 0% 0%;
    }
    
    .nav{
        margin-top: 0%;
        margin-left: 10%;
        width: 40%;
        padding: 0%;
        li{
            display: flex;
            justify-content:center ;
        ul{
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            padding: 0%;
            margin: 10% 100% 0% 0%;
        }
        a{
            text-decoration: none;
            color: $colorFuente;
            font-size: 12px;
            align-self: stretch;
        }
    }
    }

    .contenidoIndex{
        display: flex;
        flex-direction: column;
    }
    
    .imagenIndex{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .remerasIndex{
        width: 100%;
    }
    
    
    .titulosIndex{
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0%;
        h1{
        width: auto;
        font-size: 18px;
        align-self: center;
        justify-self: right;
        padding-right: 20%;
        margin-left: 35%;
        }
        h3{
            margin-top: 1%;
            font-size: 15px;
            padding-right: 0%;
            margin-left: 10%;
            justify-self: center;
            align-self: center;
            width: 90%;
        }
        button{
            align-items: center;
            background-color: $fondoSecundario;
            text-decoration: none;
            padding: 1px 15px;
            margin-left: 30px;
            margin-top: 3%;
            border-radius: 20px;
            margin-right: 20px;
        }
    }

    .contenedorBotones{
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        margin-top: 50px;
        margin-right: 40px;
        padding: 0%;
    }

    .boton{
        font-size: 8px;
    }

    .botonA{
        padding: 1px 20px;
    }
    
    .footer{
        justify-content: space-evenly;
        padding: 30px;
        p{
            font-size: 10px;
        }
        img{
            width: 100%;
        }
        a{
            width: 6%;
        }
    }
}
@media screen and (max-width: 320px){
    .contenedorLogo{
        margin: 0% 0% 1px 35%;
        width: 40%;
        
    }
    
    .logo{
        width: 80%;
        padding-left: 0%;
        margin: 20px 0% 0% 0%;
    }
    
    .nav{
        margin-top: 0%;
        margin-left: 0%;
        width: 40%;
        li{
            display: flex;
            justify-content:center ;
        ul{
            display: flex;
            justify-content: center;
            list-style-type: none;
            padding: 0%;
            margin: 10% 100% 0% 0%;
            grid-area: nav;
        }
        a{
            text-decoration: none;
            color: $colorFuente;
            font-size: 12px;
            align-self: stretch;
        }
        }
    }

    .contenidoIndex{
        display: flex;
        flex-direction: column;
    }
    
    .imagenIndex{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .remerasIndex{
        width: 100%;
    }
    
    
    .titulosIndex{
        h1{
        width: auto;
        font-size: 18px;
        align-self: center;
        justify-self: left;
        padding-right: 25%;
        margin-left: 20%;
        }
        h3{
            margin-top: 1%;
            font-size: 15px;
            padding-left: 30%;
            justify-content: center;
            align-self: center;
        }
        button{
            align-items: center;
            background-color: $fondoSecundario;
            text-decoration: none;
            padding: 1px 15px;
            margin-left: 30px;
            margin-top: 3%;
            border-radius: 20px;
            margin-right: 20px;
        }
    }

    .contenedorBotones{
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: space-between;
        margin-top: 50px;
        margin-right: 0px;
    }

    .boton{
        font-size: 8px;
    }

    .botonA{
        padding: 1px 20px;
    }
    
    .footer{
        justify-content: space-evenly;
        padding: 30px;
        p{
            font-size: 10px;
        }
        img{
            width: 100%;
        }
        a{
            width: 6%;
        }
    }
}